# Ignore everything in data/ by default
data/*

# Un-ignore the directories so Git can traverse them
!data/raw/
!data/processed/

# Ignore contents of data/raw, but keep its .gitkeep
data/raw/*
!data/raw/.gitkeep

# Keep data/processed tracked (remove data/processed/* and its .gitkeep rule)

# System and editor files
__MACOSX/
.vscode/
/.venv